*{
    margin: 0;
    padding: 0;
    width: 100%;
    box-sizing: border-box;
}

h1{
    color: blue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 50px;
}

p{
    background-color: green;
    color: purple;
	border: 2px solid green;
}

img{
	border: 2px solid black;
	border-radius: 10px;
}
